<!-- Usuario/CreateView -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastrar Usuário</title>

<style>

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI', sans-serif;
    background:#020617;
    color:white;
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:#0f172a;
    padding:30px 20px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.sidebar h2{
    margin-bottom:20px;
}

.sidebar a{
    text-decoration:none;
    color:white;
    background:#1e293b;
    padding:14px;
    border-radius:10px;
}

.sidebar a:hover{
    background:#7c3aed;
}

.content{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:100%;
    max-width:500px;
    background:#0f172a;
    padding:40px;
    border-radius:16px;
}

input{
    width:100%;
    padding:14px;
    margin-top:8px;
    margin-bottom:20px;
    border:none;
    border-radius:10px;
    background:#1e293b;
    color:white;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#7c3aed;
    color:white;
    cursor:pointer;
}

</style>
</head>

<body>

<div class="sidebar">
    <h2>Usuários</h2>

    <a href="/user/list">Lista</a>
    <a href="/user/create">Novo Usuário</a>
</div>

<div class="content">

<form class="card">

<h1>Cadastrar Usuário</h1>

<label>Nome</label>
<input type="text">

<label>Email</label>
<input type="email">

<label>Senha</label>
<input type="password">

<button>
Cadastrar
</button>

</form>

</div>

</body>
</html>